body {
	background-image:url(brickwall.png);
}


#container {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	text-align: left;
	color:#black;
	padding: 10px 150px 10px 150px;

#pic {
	float: right;
}

h1 {
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 64px;
	
}

h2 {
	font-size: 32px;
	
	
}

p {
  	font-size: 22px;
	
	
}

li {
	font-size: 18px;
	text-align: left;
	
}

#footer {
  font-size: 0.75rem;
